{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "importOreder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/providers/(.*)$",
    "^@/types/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^@../(.*)$",
    "^@./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifies": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
